<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
<div class="container">
    <!-- 내 정보 조회 -->
    <div>
        <h2>내 정보 조회</h2>
        <p>아이디: <span th:text="${userDto.userId}"></span></p>
        <p>이름: <span th:text="${userDto.name}"></span></p>
        <p>이메일: <span th:text="${userDto.email}"></span></p>
        <p>휴대폰 번호: <span th:text="${userDto.phone}"></span></p>

        <!-- 회원 탈퇴 폼 -->
        <form action="/users/delete" method="post">
            <input type="hidden" name="userId" th:value="${userDto.userId}">
            <button type="submit">회원 탈퇴</button>
        </form>
    </div>
</div>
</body>
</html>
