<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
<div class="container">
    <!-- 내 정보 조회 -->
    <div>
        <h2>내 정보 조회</h2>
        <p>아이디: <span th:text="${userDto.userId}"></span></p>
        <p>이름: <span th:text="${userDto.name}"></span></p>
        <p>이메일: <span th:text="${userDto.email}"></span></p>
        <p>휴대폰 번호: <span th:text="${userDto.phone}"></span></p>

        <form id="withdrawForm" action="/users/delete/{userId}" method="post" onsubmit="return confirm('정말로 회원을 탈퇴하시겠습니까?');">
            <input type="hidden" name="_method" value="DELETE">

            <input type="submit" value="회원 탈퇴">
        </form>
    </div>
</div>
</body>
</html>
